
$grid-columns: 12;
$grid-gutter-width: 30px;
$width-container: 1200px;

$padding-button: 10px;

$border-radius: 5px;

$break-point-lg: 1200px;
$break-point-md: 1000px;
$break-point-sm: 780px;



$color-default: #f5c506;

$color-yellow-dark: #9b7d08;;


$color-white-gray: #ffffff;
$color-light-gray: #f6f6f6;
$color-turquoise: #637f83;
$color-light-turquoise: #b5c7c9;
$color-dark-turquoise: #597275;
$color-orange: #e4551d;

